<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="w-full h-screen bg-[#C786F3] p-8 text-white">
        <div class=" text- font-semibold">
            <a href="/">Create More</a>
        </div>
        <h1 class="font-semibold text-3xl mb-5 text-[#4D0C51]">All Registered Users</h1>
        <div class="users flex gap-3 flex-wrap">
            <% users.forEach((e)=>{ %>
            <div class="users w-72 p-4 bg-[#674380] rounded-lg">
                
                <div class=" mt-2 mb-1 text-xl tracking-tighter"> <%= e.firstName + ' ' + e.lastName %></div>
                <div class=" text-xs ">email: <%= e.email %></div>
                <div class=" text-xs ">gender: <%= e.gender %></div>
                <div class=" text-xs ">subject: <%= e.subjects %></div>
                <div class=" text-xs ">belongs from: <%= e.city %></div>
                <div class="flex gap-7 mt-4 font-semibold cursor-pointer">
                    <a class="text-[#cfc1da] " href="/edit/<%= e.email %>">Edit User</a>
                    <a class="text-red-400 " href="/delete/<%= e.email %>">Delete User</a>
                </div>
            </div>
       <% }) %>
        </div>
    </div>
    
</body>
</html>